html {
  margins: 0;
  font-family: 'Noto Sans', sans-serif;
}

article {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 56em) [main-end]
    minmax(1em, 1fr) [full-end];
  /* grid-gap: 1em; */
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

p, ol, li {
  font-size: 16px;
}

section {
  grid-column: main;
}

article > * {
  padding: 2em;
}
