@charset "utf-8";
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://rsms.me/inter/inter.css');

// Define defaults for each variable.

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: "Inter", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     23px !default;

$colors:(
  heading:       #333,
  text: #555,
  text-light:       #3f3f3f,
  background: #fbfafa,
  background-alt: #fbfafa,
  shadow: #ccc,
  code: #eef,
  brand:      #2a7ae2,
  brand-dark: #0a6ac2,

  grey:       #828282,
  grey-light: #aaa,
  grey-lighter: #afafaf,
  grey-dark:  #777,
  grey-darker:  #666,
  orange:     #f66a0a,
);

$colors-dark:(
  heading:       map-get($colors, background),
  text: #dbdada,
  text-light:       #3f3f3f,
  background: #131313,
  background-alt: #141414,
  shadow: #000,
  code: #3f3f3f,
  brand:      #3a8af2,
  brand-dark: #1a7ad2,

  grey-light: #aaa,
  grey-lighter: #afafaf,
  grey-dark:  #777,
  grey-darker:  #666,
  orange:     #f66a0a,
);

$table-text-align: left !default;

// Width of the content area
$content-width:    50em !default;

$on-palm:          45em !default;
$on-laptop:        50em !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Setup colour schemes
:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  --theme: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark {
      --color-#{$name}: #{$color};
    }
    --theme: "dark";
  }
}

@function getColor($color-name) {
  @return var(--color-#{$color-name});
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
