/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: getColor(text);
  background-color: getColor(background);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

h1, h2, h3, h4, h5, h6,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6 {
  color: getColor(heading);
}

hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin-top: 1.7em;
  margin-bottom: 1.5em;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  float: none;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  // font-weight: $base-font-weight;
  font-weight: 600;
}



/**
 * Links
 */
a {
  color: getColor(brand);
  text-decoration: none;

  &:visited {
    color: getColor(brand-dark);
  }

  &:hover {
    color: getColor(text);
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
    svg {
      fill: getColor(grey-light);
    }
  }
}




/**
 * Blockquotes
 */
blockquote {
  color: getColor(grey);
  border-left: 4px solid getColor(grey-light);
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid getColor(grey-light);
  border-radius: 3px;
  background-color: getColor(code);
}

code.border-active {
  border-color: getColor(brand);
}

code.plain {
  border: 0px;
  background-color: getColor(background);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

 .orange {
   color: getColor(orange);
 }

 .grey {
   color: getColor(grey);
 }

.svg-icon {
    width: 16px;
    height: 18px;
    display: inline-block;
    fill: currentColor;
    padding-right: 5px;
    vertical-align: text-bottom;
}

ul.social-media-list > li {
  display: inline-block;
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: getColor(text-light);
  border-collapse: collapse;
  border: 1px solid getColor(grey-light);
  tr {
    &:nth-child(even) {
      background-color: getColor(grey-lighter);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: getColor(grey-light);
    border: 1px solid getColor(grey);
    border-bottom-color: getColor(grey-darker);
  }
  td {
    border: 1px solid getColor(grey-light);
  }
}

/* Blinking cursor effect */
div.blinking-cursor {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: -18px;
  padding-top: 10px;
  width: 2px;
  height: 56px;
  overflow: hidden;
  white-space: nowrap;
  
  animation: blink 2s linear 0s infinite;
  -webkit-animation: blink 2s linear 0s infinite;
  -moz-animation: blink 2s linear 0s infinite;
  -ms-animation: blink 2s linear 0s infinite;
  -o-animation: blink 2s linear 0s infinite;
}

@keyframes blink {
  0%   { background: getColor(text) }
  47%  { background: getColor(text) }
  50%  { background: transparent }
  97%  { background: transparent }
  100% { background: getColor(text) }
}

@-webkit-keyframes blink {
  0%   { background: getColor(text) }
  47%  { background: getColor(text) }
  50%  { background: transparent }
  97%  { background: transparent }
  100% { background: getColor(text) }
}

@-moz-keyframes blink {
  0%   { background: getColor(text) }
  47%  { background: getColor(text) }
  50%  { background: transparent }
  97%  { background: transparent }
  100% { background: getColor(text) }
}

@-ms-keyframes blink {
  0%   { background: getColor(text) }
  47%  { background: getColor(text) }
  50%  { background: transparent }
  97%  { background: transparent }
  100% { background: getColor(text) }
}

@-o-keyframes blink {
  0%   { background: getColor(text) }
  47%  { background: getColor(text) }
  50%  { background: transparent }
  97%  { background: transparent }
  100% { background: getColor(text) }
}

h1.name-title {
  font-size: 42px;
  text-align: center;
  padding: 30px 0 50px 0;
  word-break: keep-all;
  overflow: hidden;
}

p.central-link {
  text-align: center;
  line-height: 2em;
  margin: 40px 0 40px 0;
}
