---
layout: default
---

{{ content }}

<h1 class="name-title">{{ site.data.about.motd }}<div class="blinking-cursor"></div></h1>

<div class="row-2">
    <div class="col">
    <div class="col-elem">
    <h2 class="card-heading">About Me</h2>
    <div class="card">
        <div class="card-content">
            {% for para in site.data.about.aboutme %}
            <p>{{ para }}</p>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="col-elem">
    <h2 class="card-heading">My Skills</h2>
    <div class="card">
        <div class="card-content">
            {% for para in site.data.about.skills %}
            <p>{{ para }}</p>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
</div>

{%- if site.projects.size > 0 -%}
<h2 class="card-heading">My Projects</h2>
{%- if site.projects.size < 3 -%}
<div class="row-2">
{%- else -%}
<div class="row-3">
{%- endif -%}
    {% for project in site.projects %}
    <div class="row-elem">
    <div class="project-card card" onclick="window.open('{{ project.proj-url }}', '_blank');" onMouseOver="this.style.backgroundColor='{{ project.color }}';" onmouseout="this.style.backgroundColor='';">
        <div class="card-content">
            <img class="project-icon" src="{{ project.icon | relative_url }}"></img>
            <h3 class="project-name">{{ project.title }}</h3>
            <p class="project-description">{{ project.description }}</p>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{%- endif -%}